/* Hide built-in logo visuals */
.skinHeader .headerLogo,
.skinHeader img,
.skinHeader .pageTitle {
    display: none !important;
}

/* Add your custom logo */
.skinHeader::before {
    content: "";
    position: absolute;
    left: 530px;
    top: 5px;

    width: 300px;   /* adjust */
    height: 70px;   /* adjust */

    background-image: url("https://cdn.jsdelivr.net/gh/t874ntzjr8-stack/CrossRoad@v1.0/assets/banner.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;

    z-index: 1000;
}