
.MuiListItemIcon-root img {
    display: none; /* hide original image */
}

.MuiListItemIcon-root {
    background-image: url("https://cdn.jsdelivr.net/gh/t874ntzjr8-stack/CrossRoad@v1.0/assets/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;   /* adjust */
    height: 40px;  /* adjust */
}