
:root {
    --cr-logo: url("https://cdn.jsdelivr.net/gh/t874ntzjr8-stack/CrossRoad@v1.1/assets/logo.png");
}

/* Force override Jellyfin logo */
.pageTitleWithDefaultLogo {
    background-image: var(--cr-logo) !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}