/* 
Custom Jellyfin Theme
Author: JesusFreak
Repo: https://github.com/t874ntzjr8-stack/CrossRoad/blob/main/theme/base.css
*/

/* Change main background */
body {
    background-color: #0c41de !important;
}

/* Change header color */
.skinHeader {
    background-color: #3ee70a !important;
}

/* Style media cards */
.cardBox {
    border-radius: 12px !important;
    transition: transform 0.2s ease;
}

/* Hover effect for media cards */
.cardBox:hover {
    transform: scale(1.05);
}
